html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---- DESDE AQUÍ----- */
html, body {
    height: 100%;
    width: 100%;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.imageCard {
    width: 20%;
    height: 700px;
    background-size: cover;
    border-radius: 10px;
}

.imageCard h2 {
    display: flex;
    justify-content: flex-start;
    margin: 15px;
    color: white;
    margin-top: 50%;
    transform: translateY(-50%);
    }

.uno {
    background-image: url('./img/puente.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.dos {
    background-image: url('./img/Bosque.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.tres {
    background-image: url('./img/Mar.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.cuatro {
    background-image: url('./img/Hielo.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.cinco {
    background-image: url('./img/Montaña.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
